
.card-container{
    height: 500px;
    width:300px;
    overflow: hidden;
    margin-left: 90px;
    background-color: teal;
    margin-bottom: 10px;
}

.card-container img{
    transform: scale(1.1);
    height: 200px;
    width:200px;
    
}
.image-content{
    margin: 1rem;
    margin-top: 0.4rem;
}

