.CheckPlate {
    background-image: url("https://images.unsplash.com/photo-1616532921983-7c5744bb5971?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dmludGFnZSUyMHZhbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .CheckPlate > h1 {
    margin-top: 80px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    margin-right:120px;
    margin-left: 980px;
  }
  
  .CheckPlate > input {
    outline: 0;
    border: none;
    border-radius: 50px;
    background-color: rgba(191, 218, 240, 0.918);
    padding: 20px;
    margin-top: 80px;
    width: 540px;
    font-size: 25px;
    text-align: center;
    margin-left: 900px;
  }
  
  .submitBtn {  
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    margin-right: 4px;
    margin-left: 950px;
    margin-top: 80px;
    background-color: rgba(82, 235, 227, 0.897);
  }