.CreateVehicle {
  background-image: url("https://images.unsplash.com/photo-1568119806199-17d9d32e3ae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.CreateVehicle h1 {
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium';
}

.contain {
  margin-left: 40px;
  font-size: 25px;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
  
}
.contain > label{
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
  margin-left: 200px;
  color: rgb(237, 250, 57);
}

input {
  margin-left: 60px;
  border-radius: 20px;
  border: none;
  height: 50px;
  width: 500px;
  font-family: 'Franklin Gothic Medium';
  text-align: center;
}

.submitCreate {
  margin-top: 40px;
  margin-left: 850px;
  align-items: center;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  background-color: rgba(223, 211, 41, 0.842);
}
