.DeleteVehicle {
    background-image: url("https://www.bestcashforcarsbrisbane.com.au/wp-content/uploads/2020/12/old-car-parked-outside.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .DeleteVehicle > h1 {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
  }
  
  .containDelete {
    margin-left: 20px;
    margin-right: 520px;
    font-size: 25px;
    margin-top: 20px;
  }
  
  .delete {
    width: 100px;
    height: 50px;
    margin-left:450px ;
    border-radius: 20px;
    border: rgba(242, 255, 64, 0.856);
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    background-color: rgba(242, 255, 64, 0.856);
  }
  