.UpdateVehicle {
    background-image: url("https://www.badcredit.org/wp-content/uploads/2019/04/cover-2.jpg?1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px;
    font-family: 'Franklin Gothic Medium';
    color: black;
  }
  
  .containNumber {
    margin-left: 20px;
    margin-right: 700px;
    font-size: 25px;
    margin-top: 20px;
  }

  .containNumber > label{
    color: black;
    text-align: center;
  }
  
  .update {
      width: 100px;
      height: 50px;
      margin-left: 600px ;
      border-radius: 20px;
      border: rgb(9, 82, 110);
      border-width: 5px;
      justify-content: center;
      font-family: 'Franklin Gothic Medium';
      background-color: rgba(41, 217, 223, 0.856);
  }
  
  .search{
    width: 100px;
    height: 50px;
    margin-left:450px ;
    border-radius: 20px;
    border: rgb(9, 82, 110);
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    background-color: rgba(41, 217, 223, 0.856);
  }