* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  body {
    background-color: #282c34;
    color: rgb(228, 198, 198);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
  }